html {
    height: 100%;
    background: radial-gradient(circle, #fff 20%, #ccc);
    background-size: cover;
}

@font-face {
    font-family: "Calculator";
    src: url('http://www.dafont.com/calculator.font'), url('http://www.dafont.com/calculator.font');
    /* IE */
}

#bigBox {
    background-color: lightblue;
    width: 300px;
    height: 700px;
    margin: 50px auto;
    padding: 20px 20px 9px;
    border-radius: 3px;
    border: 1px solid black;
    webkit-border-radius: 50px;
    -khtml-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}

.button {
    position: relative;
    float: left;
    margin: 10px;
    display: inline;
    padding: 10px;
    border: 1px solid black;
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    border-radius: 3px;
    text-color: black;
    line-height: 36px;
    text-align: center;
    float: left;
    position: relative;
    top: 0;
    cursor: pointer;
    width: 66px;
    height: 36px;
    background: azure;
    border-radius: 3px;
    box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
    margin: 10px 7px 7px 5px;
    line-height: 36px;
    margin-top: 5px;
}

.button:active {
    top: 4px;
}

#a {
    font-size: 25px;
    display: block;
    width: 50%;
    height: 100px;
    width: 280px;
    margin-top: 25px;
    margin-bottom: 25px;
    webkit-border-radius: 50px;
    -khtml-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 15px;
    border-color: grey;
}


/* Tablet Landscape */

@media screen and (min-width: 1060px) {
    #primary {
        width: 67%;
    }
    #secondary {
        width: 30%;
        margin-left: 3%;
    }
}


/* Tabled Portrait */

@media screen and (min-width: 768px) {
    #primary {
        width: 100%;
    }
    #bigBox {}
    #secondary {
        width: 100%;
        margin: 0;
        border: none;
    }
}