html {
	height: 100%;
	background: white;
	background: radial-gradient(circle, #ccc 20%, #f13);
	background-size: cover;
}

div{
    width:25px;
    height:25px;
    text-align:center;
    background-color:coral;
}

#calculatorBox{
    width:75%;
    margin-left: 10%;
    height:500px;
}





    