html {
	height: 100%;
	background: white;
	background: radial-gradient(circle, #fff 20%, #ccc);
	background-size: cover;
}

.positioning {
    margin:10rem px auto;
    margin-left: 10rem ;
    
    width:500px;
    height:500px;
    border:3px solid #444;
    padding:4px;
    background-color:lightgreen;
    
}

div {
    float:left;
    width:500px;
    height:500px;
    padding:10px;
}

#a {
    font-size: 30px;
    width:200px;
    height:100px;
    margin-left: 50px;
    margin-right: 50px;
}
.button{
     
    /*Step 2: Basic Button Styles*/
    padding-top: 50px;
    
    display: block;
    height: 50px;
    width: 50px;
    background-color:orange;
    border: 2px solid rgba(33, 68, 72, 0.59);
     
    /*Step 3: Text Styles*/
    color: black;
    text-align: center;
   
     -webkit-border-radius: 50px;
    -khtml-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
     
    
}
 
/*Step 3: Link Styles*/
.button2 {
    text-decoration: none;
}
 
/*Step 5: Hover Styles*/
.button:hover {
    background: #3d7a80;
    
}